---
import { Image } from "astro:assets";
import Icon from "astro-icon";

interface Props {
  title: string;
  description?: string;
  imgUrl: ImageMetadata;
  urls: {
    site: string;
    github?: string;
  };
  stacks: string[];
}

const { title, imgUrl, description, urls, stacks } = Astro.props;
---

<div
  class="w-full group relative block rounded-lg border border-slate-300 group"
>
  <Image
    src={imgUrl}
    width={1000}
    height={1000}
    alt="penoola project"
    loading="lazy"
    class="rounded-lg object-cover w-full"
  />
  <div
    class="transition-all absolute inset-0 rounded-lg group-hover:backdrop-blur-lg"
  >
    <div class="relative w-full h-full overflow-hidden">
      <div
        class="h-fit w-[95%] p-2 rounded-sm absolute top-[80%] font-medium space-y-2 group-hover:-translate-y-2/3 transition-transform"
      >
        <p class="text-2xl rounded-md w-fit font-bold">{title}</p>
        <p class="font-normal text-slate-700 text-sm">
          {description}
        </p>

        <div class="space-x-1">
          {
            stacks?.map((item) => (
              <span class="px-1 text-xs font-medium inline-block rounded-full bg-slate-950 text-white">
                {item}
              </span>
            ))
          }
        </div>

        <div class="flex items-center gap-4">
          <a
            href={urls.site}
            class="rounded-full inline-block border border-slate-400"
          >
            <Icon
              name="mdi:arrow-top-right-thick"
              class="w-10 h-10 text-indigo-700"
            />
            <span class="sr-only">Visit {title} URL</span>
          </a>

          {
            urls.github?.length ? (
              <a
                href={urls.github}
                class="rounded-full inline-block border border-slate-400"
              >
                <Icon name="mdi:github" class="w-10 h-10 text-indigo-700" />
                <span class="sr-only">Visit {title} github</span>
              </a>
            ) : null
          }
        </div>
      </div>
    </div>
  </div>
</div>
