---
import SectionContainer from "@/components/SectionContainer.astro";
import projects from "@/data/projects.json";
import ProjectCard from "./ProjectCard.astro";

import localPenoolaImage from "@/assets/project_penoola.png";
import localVisulaImage from "@/assets/project_visula.png";
import localPortfolioImage from "@/assets/project_portfolio.png";
---

<SectionContainer title="Featured projects">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-4">
    <ProjectCard
      title={projects.data.penoola.title}
      imgUrl={localPenoolaImage}
      urls={{
        site: projects.data.penoola.url,
      }}
      description={projects.data.penoola.description}
      stacks={projects.data.penoola.stacks}
    />

    <ProjectCard
      imgUrl={localVisulaImage}
      title={projects.data.visula.title}
      description={projects.data.visula.description}
      urls={{
        site: projects.data.visula.url,
        github: projects.data.visula.github,
      }}
      stacks={projects.data.visula.stacks}
    />

    <ProjectCard
      imgUrl={localPortfolioImage}
      title={projects.data.portfolio.title}
      description={projects.data.portfolio.description}
      urls={{
        site: projects.data.portfolio.url,
        github: projects.data.portfolio.github,
      }}
      stacks={projects.data.portfolio.stacks}
    />
    <div class="relative w-full h-full bg-slate-200">
      <iframe
        style="border: 1px solid rgba(0, 0, 0, 0.1);"
        class="w-full h-full"
        loading="lazy"
        title="Embedde figma design of visula project"
        src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FFUTPmAbEtq74tP7WrafS74%2FProjects%3Ftype%3Ddesign%26node-id%3D6%253A3%26mode%3Ddesign%26t%3DhgQ2rvPo0iE61QYS-1"
        allowfullscreen></iframe>
    </div>
    <div class="w-full h-full bg-slate-200">
      <iframe
        style="border: 1px solid rgba(0, 0, 0, 0.1);"
        class="min-h-[400px] w-full"
        title="embedded figma design of mobile app"
        loading="lazy"
        src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FFUTPmAbEtq74tP7WrafS74%2FProjects%3Ftype%3Ddesign%26node-id%3D203%253A4%26mode%3Ddesign%26t%3DhgQ2rvPo0iE61QYS-1"
        allowfullscreen></iframe>
    </div>
  </div>
</SectionContainer>
